<script src="~/js/jquery-1.8.2.min.js"></script>
<script src="~/js/divShow.js"></script>
<link href="~/Css/divShow.css" rel="stylesheet" />
<style type="text/css">
    *
    {
        margin: 0px;
        padding: 0px;
    }

    header
    {
        border: 1px solid #DDDDDD;
        background-color: #F4F4F4;
        padding: 5px;
    }

        header input
        {
            height: 20px;
        }

        header li
        {
            float: left;
            margin-left: 5px;
            margin-top: 7px;
        }

        header a
        {
            display: inline-block;
            height: 22px;
            width: 70px;
            text-align: center;
            line-height: 20px;
            text-decoration: none;
            border-radius: 5px;
        }

            header a:hover
            {
                border: 1px solid lightblue;
                height: 20px;
                border-radius: 5px;
                color: red;
            }

    .divContainer
    {
        border: solid 1px lightblue;
        overflow: hidden;
    }

    .divclose
    {
        position: absolute;
        right: 8px;
        top: 3px;
        cursor: pointer;
        font-size: 2em;
        font-weight: bolder;
        width: 30px;
        height: 30px;
    }

        .divclose:hover
        {
            color: red;
        }

    #PopEditContent, #PopAddContent
    {
        left: 30%;
        top: 25%;
    }

    .PopContent
    {
        min-height: 100px;
        width: 710px;
    }

    .btnClose
    {
        margin-left: 15px;
    }

    .PopContent li
    {
        margin-top: 5px;
        text-align: right;
        width: 220px;
        float: left;
    }

        .PopContent li input
        {
            width: 150px;
            height: 20px;
        }

    .PopContent select
    {
        height: 20px;
        width: 150px;
    }
     .mytable td:last-child a
    {
        margin-left: 10px;
    }
        .mytable td:last-child a:last-child
        {
            margin-right:10px;
        }
    .mytable a
    {
        text-decoration: none;
    }

        .mytable a:hover
        {
            color: red;
        }
          .liRemark
    {
        clear:both;text-align:left!important;
    }
        .liRemark textarea
        {
            width:300%;height:50px;
        }
</style>

<header id="SearchHeader">
    @*<input type="text" id="txtSearchOrderId" />
    <input type="button" onclick="OnSearch()" value=" 查  询 " /><a href="#" onclick="AddClick()" style="margin-left: 10px">添    加</a>*@
</header>
<div id="divContainer">
    <table id="mytable" class="mytable" border="0" cellpadding="0" cellspacing="0">
    </table>
    <div class="divJump" style="">
        <select id="selPages" onchange="selPage()">
            <option>1</option>
            <option>5</option>
            <option selected="selected">10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
        </select>
        <a href="#" onclick="TurnPage(1)">首页</a>
        <a href="#" onclick="TurnPage(2)">上一页</a>
        <input type="text" id="txtTiao" name="txtTiao" value="1" style="width: 35px;" onkeyup="OnTiaoChange();" />
        <a href="#" onclick="TurnPage(3)">下一页</a>
        <a href="#" onclick="TurnPage(4)">尾页</a>
        @*@Html.TextBox("txtTiao","", new { style = "width:20px;", onkeyup = "OnTiaoChange();" })*@
        <a href="#" onclick="TurnPage(5)">跳转</a>
        共<span id="PageCount"></span>页&nbsp;&nbsp;当前第<span id="PageNum"></span>页&nbsp;&nbsp;共<span id="AllCounts"></span>条数据
    </div>
</div>
<div id="PopAddContent" class="myPopdiv">
    <div class="divclose" onclick="Close()">×</div>
    <div style="text-indent: 10px; text-align: left;">添加退货信息</div>
    <div class="PopContent">
        <ul>
            <li>订单编号:<input type="text" id="txtAddOrderId" /></li>
            <li>退款金额:<input type="text" id="txtAddRetPrice" /></li>
            <li>质量等级:<input type="text" id="txtAddQuaLevel" /></li>
            <li>收货时间:<input type="date" id="txtAddRetTime" /></li>
            <li>快递公司:<input type="text" id="txtAddExpress" /></li>
            <li>快递单号:<input type="text" id="txtAddExpressNo" /></li>
            <li>退货说明:<input type="text" id="txtAddRetDetails" /></li>
            <li>退换货类型:<input type="text" id="txtAddRetType" /></li>
            <li>收货人:<input type="text" id="txtAddReceiver" /></li>
            <li>处理客服:<input type="text" id="txtAddServiceId" /></li>
            <li>退款账号:<input type="text" id="txtAddRetAccount" /></li>
        </ul>
        <div class="clearfix"></div>
        <div style="margin-top: 10px;">
            <input type="button" value=" 保   存 " onclick="SaveAdd()" /><input type="button" class="btnClose" value=" 关   闭 " onclick="    Close()" />
        </div>
    </div>
</div>
<div id="PopEditContent" class="myPopdiv">
    <div class="divclose" onclick="Close()">×</div>
    <div style="text-indent: 10px; text-align: left;">修改退货信息</div>
    <div class="PopContent">
    </div>
</div>
<div class="PopBg"></div>
<script type="text/javascript">
    /*搜索权限*/
    $.post("/RetProduct/GetSearchlistRetPro", { "menuId": "@ViewData["myMenuId"]" }, function (data) { $("#SearchHeader").html(data); })


    /*搜索*/
    function OnSearch() {
        GetTable(1, $("#selPages").val().trim());
        $("#txtTiao").val(1);
        $("#PageNum").html(1);
    }

    /*获得table*/
    function GetTable(obj, selpages) {
        var lists = [];
        lists.push($("#txtSearchOrderId").val() == null ? "" : $("#txtSearchOrderId").val().trim())
        lists.push($("#txtSearchRetPrice").val() == null ? "" : $("#txtSearchRetPrice").val().trim())
        lists.push($("#txtSearchQuaLevel").val() == null ? "" : $("#txtSearchQuaLevel").val().trim())
        lists.push($("#txtSearchRetTime").val() == null ? "" : $("#txtSearchRetTime").val().trim())
        lists.push($("#txtSearchRetTime1").val() == null ? "" : $("#txtSearchRetTime1").val().trim())
        lists.push($("#txtSearchExpress").val() == null ? "" : $("#txtSearchExpress").val().trim())
        lists.push($("#txtSearchExpressNo").val() == null ? "" : $("#txtSearchExpressNo").val().trim())
        lists.push($("#selSearchRetType").find("option:selected").val() == null ? "" : $("#selSearchRetType").find("option:selected").val())
        lists.push($("#txtSearchReceiver").val() == null ? "" : $("#txtSearchReceiver").val().trim())
        lists.push($("#txtSearchServiceId").val() == null ? "" : $("#txtSearchServiceId").val().trim())
        lists.push($("#txtSearchRetAccount").val() == null ? "" : $("#txtSearchRetAccount").val().trim())
        lists.push($("#selSearchDef1").find("option:selected").val() == null ? "" : $("#selSearchDef1").find("option:selected").val())
        lists.push($("#selSearchDef3").find("option:selected").val() == null ? "" : $("#selSearchDef3").find("option:selected").val())
        $.ajax({
            type: "get",
            url: "/RetProduct/SearchRtnProInfo",
            data: { "menuId": "@ViewData["myMenuId"]", "lists": lists.join(","), "page": obj, "selpages": selpages },
            success: function (data) {
                selpages = selpages * 1;
                var tabledata = [];
                var tabledata = data.split("-*-");
                $("#mytable").html(tabledata[0]);
                $("#AllCounts").html(tabledata[1])
                $("#PageCount").html(Math.ceil(tabledata[1] * 1 / selpages))

            },
            error: function () {
                alert("error")
            },
        })

    }
    function selPage() {//---------设置显示数目
        $("#txtTiao").val(1);
        $("#PageNum").html(1);
        GetTable(1, $("#selPages").val().trim())
    }
    /*跳转*/
    function TurnPage(obj) {//-----翻页---
        var pages = $("#selPages").val().trim();
        switch (obj) {
            case 1: GetTable(1, pages);//----首页
                $("#txtTiao").val(1);
                $("#PageNum").html(1)
                break;
            case 2:;//----上一页
                if ($("#txtTiao").val().trim() == "1") {
                    return false;
                }
                else {
                    GetTable($("#txtTiao").val().trim() * 1 - 1, pages)
                    $("#txtTiao").val($("#txtTiao").val().trim() * 1 - 1);
                    $("#PageNum").html($("#txtTiao").val().trim())
                }
                break;
            case 3://----下一页
                if ($("#txtTiao").val().trim() == $("#PageCount").html()) {
                    return false;
                }
                else {
                    GetTable($("#txtTiao").val().trim() * 1 + 1, pages);
                    $("#txtTiao").val($("#txtTiao").val().trim() * 1 + 1);
                    $("#PageNum").html($("#txtTiao").val().trim())
                }

                break;
            case 4: GetTable($("#PageCount").html(), pages);//----尾页

                $("#txtTiao").val($("#PageCount").html());
                $("#PageNum").html($("#PageCount").html())
                break;
            case 5: GetTable($("#txtTiao").val().trim(), pages);//----跳转
                $("#PageNum").html($("#txtTiao").val().trim());

                break;

        }
    }

    /*关闭按钮取消修改*/
    function Close() {
        $(".PopBg").hide();
        $(".myPopdiv").hide();
    }

    ///*添加按钮*/
    //function AddClick() {
    //    $(".PopBg").height($(document).height());
    //    $(".PopBg").show();
    //    $("#PopAddContent").show();
    //    $(".PopContent").find("input[type=text]").val("");
    //}

    /*确定添加*/
    function SaveAdd() {
        var list = [];
        list.push($("#txtAddOrderId").val().trim());
        list.push($("#txtAddRetPrice").val().trim());
        list.push($("#txtAddQuaLevel").val().trim());
        list.push($("#txtAddRetTime").val().trim());
        list.push($("#txtAddExpress").val().trim());
        list.push($("#txtAddExpressNo").val().trim());
        list.push($("#txtAddRetDetails").val().trim());
        list.push($("#txtAddRetType").val().trim());
        list.push($("#txtAddReceiver").val().trim());
        list.push($("#txtAddServiceId").val().trim());
        list.push($("#txtAddRetAccount").val().trim());
        $.post("/RetProduct/AddRetProInfo", { "list": list }, function (data) { $.MsgBox.Alert("提示", data); GetTable($("#txtTiao").val().trim(), $("#selPages").val().trim()); })

    }

    /*编辑按钮*/
    function EditRetProInfo(Id) {
        $(".PopBg").height($(document).height());
        $(".PopBg").show();
        $("#PopEditContent").show();
        $.post("/RetProduct/EditRetProInfo", { "Id": Id }, function (data) { $("#PopEditContent").find(".PopContent").html(data) })
    }

    /*确定修改*/
    function SaveEdit() {
        var list = [];
        list.push($("#txtEditOrderId").attr("title"));
        list.push($("#txtEditOrderId").val().trim());
        list.push($("#txtEditRetPrice").val().trim());
        //list.push($("#txtEditQuaLevel").val().trim());
        //list.push($("#txtEditRetTime").val().trim());
        list.push($("#txtEditExpress").val().trim());
        list.push($("#txtEditExpressNo").val().trim());
        list.push($("#txtEditRetDetails").val().trim());
        list.push($("#txtEditRetType").val().trim());
        list.push($("#txtEditReceiver").val().trim());
        list.push($("#txtEditServiceId").val().trim());
        list.push($("#txtEditRetAccount").val().trim());
        $.post("/RetProduct/SaveEditRetProInfo", { "list": list }, function (data) { $.MsgBox.Alert("提示", data); GetTable($("#txtTiao").val().trim(), $("#selPages").val().trim()); })
    }

    /*删除按钮*/
    function DeleteRetProInfo(Id) {
        $.MsgBox.Confirm("提示", "确定要删除吗?", function () {
            $.post("/RetProduct/DeleteRetProInfo", { "Id": Id }, function (data) { if (data != "") { $.MsgBox.Alert("提示", data); } GetTable($("#txtTiao").val().trim(), $("#selPages").val().trim()); })
        })
    }

    /*更新交易状态*/
    function UpdateSalesState(Id) {
        $.post("/RetProduct/UpdateSalesState", { Id: Id }, function (data) { $.MsgBox.Alert("提示", data); GetTable($("#txtTiao").val().trim(), $("#selPages").val().trim()); })
    }

</script>
