<script src="~/js/jquery-1.8.2.min.js"></script>
<script src="~/js/divShow.js"></script>
<link href="~/Css/divShow.css" rel="stylesheet" />
<link href="~/Css/Search.css" rel="stylesheet" />
<script src="~/js/pageIndex.js"></script>
<link href="~/Css/All.css" rel="stylesheet" />

<style type="text/css">
    header
    {
        border: 1px solid #DDDDDD;
        background-color: #F4F4F4;
        height: 30px;
        line-height: 30px;
        padding-left: 15px;
    }

    .divContainer
    {
        border: solid 1px lightblue;
        overflow: hidden;
    }

    .divclose
    {
        position: absolute;
        right: 8px;
        top: 3px;
        cursor: pointer;
        font-size: 2em;
        font-weight: bolder;
        width: 30px;
        height: 30px;
    }

        .divclose:hover
        {
            color: red;
        }

    #PopEditContent, #PopAddContent
    {
        left: 40%;
        top: 40%;
        width: 300px;
        min-height: 200px;
    }

    .PopContent
    {
        margin-top: 5px;
        border: 1px solid lightblue;
        height: 180px;
        width: 99%;
        background-color: white;
        padding-top: 15px;
    }

        .PopContent div
        {
            margin-top: 5px;
        }

    #selEditSeason, #selEditVencode
    {
        width: 150px;
    }
</style>

<header style="width: 100%; padding-top: 10px;">
    <span class="spanProperty"><span class="spanPropertyName">季节名称：</span><input class="spanPropertyValue" id="txtSeachName" type="text"></span>
    <span class="spanProperty"><span class="spanPropertyName">供应季节：</span><input class="spanPropertyValue" id="txtSeachVenName" type="text"></span>@*供应季节名称*@
    <span class="spanProperty"><span class="spanPropertyName">供应商：</span><select id="selVencode" class="spanPropertyValue"></select></span>
    <span class="spanProperty"><span class="spanPropertyName">是否绑定：</span><select id="selbangd" class="spanPropertyValue"><option value="">请选择</option>
        <option value="0">是</option>
        <option value="1">否</option>
    </select></span>
    <input type="button" value="查  询" onclick="OnSearch()" class="spanPropertySearch" />@*<input type="button" value="添  加" onclick="AddClick()" class="spanPropertySearch" />*@
</header>
<div id="divContainer">
    <table id="mytable" class="mytable" border="0" cellpadding="0" cellspacing="0">
    </table>
    <div class="divJump" style="">
        <span id="spanPage" style="font-weight: 400;"></span>
        共 <span id='PageCount' style='color: blue'></span>页&nbsp;&nbsp;
    当前第 <span id='PageNum' style='color: blue'>1</span> 页&nbsp;&nbsp;
    共 <span id='AllCounts' style='color: blue'></span>条数据
    </div>
</div>
<div id="PopEditContent" class="myPopdiv">
    <div class="divclose" onclick="Close()">×</div>
    <div style="text-indent: 10px; text-align: left;">修改季节</div>
    <div class="PopContent">
        <div>供应商季节名称：<input id="txtEditSeasonVen" type="text" title="" /></div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;供应商：<select id="selEditVencode"></select></div>
        <div>
            &nbsp;&nbsp;&nbsp;季节搜索：<input id="txtEditSearchSeason" type="text" title="" oninput="SearchEditSeason()" />
        </div>
        <div>
            &nbsp;&nbsp;&nbsp;季节名称：<select id="selEditSeason"></select>
        </div>
        <div style="text-align: center">
            <input type="button" name="Update" value=" 保  存 " onclick="UpdateSeasonVen()" /><input type="button" name="Close" value=" 关  闭 " onclick="    Close()" style="margin-left: 50px" />
        </div>
    </div>
</div>
<div class="PopBg"></div>
<script type="text/javascript">
    /*搜索*/
    function OnSearch() {
        var SeachName = $("#txtSeachName").val().trim();
        var SeachVenName = $("#txtSeachVenName").val().trim();
        var Vencode = $("#selVencode").find("option:selected").val();
        var bangd = $("#selbangd").find("option:selected").val();
        var params = "{SeachName:'" + SeachName + "',SeachVenName:'" + SeachVenName + "',Vencode:'" + Vencode + "',bangd:'" + bangd + "'}";

        $.post("/Season/SearchSeasonVen", {
            menuId: "@ViewData["myMenuId"]",
            pageIndex: 1,
            pageSize: 10,
            params: params
        }, function (data) {
            $("#mytable").html("");
            var ss = data.split("-----");
            $("#mytable").append(ss[0]);
            $("#PageCount").html(ss[1]);
            $("#AllCounts").html(ss[2]);
        });

        var b = $.PageFunc("/Season/SearchSeasonVen", "@ViewData["myMenuId"]", params);
        $("#spanPage").html(b);
        $("#txtTiao").val(1);
        $("#PageNum").html(1);
        //GetTable(1, $("#selPages").val().trim());
        //$("#txtTiao").val(1);
        //$("#PageNum").html(1);
    }
    function selPage(url, menuid, obj) {
        var params = JSON.stringify(obj).replace(/\"/g, "'");
        $.post(url, {
            menuId: menuid,
            pageIndex: 1,
            pageSize: $("#selPages").val(),
            params: params
        }, function (data) {
            $("#mytable").html("");
            var ss = data.split("-----");
            $("#mytable").append(ss[0]);
            $("#PageCount").html(ss[1]);
            $("#AllCounts").html(ss[2]);
        });
    };
    /*获得table*/
    @*function GetTable(obj, selpages) {
        var lists = [];
        lists.push($("#txtSeachName").val().trim() == null ? "" : $("#txtSeachName").val().trim())
        lists.push($("#txtSeachVenName").val().trim() == null ? "" : $("#txtSeachVenName").val().trim())
        lists.push($("#selVencode").find("option:selected").val() == null ? "" : $("#selVencode").find("option:selected").val());
        lists.push($("#selbangd").find("option:selected").val() == null ? "" : $("#selbangd").find("option:selected").val());
        $.ajax({
            type: "get",
            url: "/Season/SearchSeasonVen",
            data: { "menuId": "@ViewData["myMenuId"]", "lists": lists.join(","), "page": obj, "selpages": selpages },
            success: function (data) {
                selpages = selpages * 1;
                var tabledata = [];
                var tabledata = data.split("-*-");
                $("#mytable").html(tabledata[0]);
                $("#AllCounts").html(tabledata[1])
                $("#PageCount").html(Math.ceil(tabledata[1] * 1 / selpages))

            },
            error: function () {
                alert("error")
            },
        })

    }
    /*设置显示数目*/
    function selPage() {
        $("#txtTiao").val(1);
        $("#PageNum").html(1);
        GetTable(1, $("#selPages").val().trim())
    }
    /*跳转*/
    function TurnPage(obj) {//-----翻页---
        var pages = $("#selPages").val().trim();
        switch (obj) {
            case 1: GetTable(1, pages);//----首页
                $("#txtTiao").val(1);
                $("#PageNum").html(1)
                break;
            case 2:;//----上一页
                if ($("#txtTiao").val().trim() == "1") {
                    return false;
                }
                else {
                    GetTable($("#txtTiao").val().trim() * 1 - 1, pages)
                    $("#txtTiao").val($("#txtTiao").val().trim() * 1 - 1);
                    $("#PageNum").html($("#txtTiao").val().trim())
                }
                break;
            case 3://----下一页
                if ($("#txtTiao").val().trim() == $("#PageCount").html()) {
                    return false;
                }
                else {
                    GetTable($("#txtTiao").val().trim() * 1 + 1, pages);
                    $("#txtTiao").val($("#txtTiao").val().trim() * 1 + 1);
                    $("#PageNum").html($("#txtTiao").val().trim())
                }

                break;
            case 4: GetTable($("#PageCount").html(), pages);//----尾页

                $("#txtTiao").val($("#PageCount").html());
                $("#PageNum").html($("#PageCount").html())
                break;
            case 5: GetTable($("#txtTiao").val().trim(), pages);//----跳转
                $("#PageNum").html($("#txtTiao").val().trim());

                break;

        }
    }
    *@


    /*关闭按钮取消修改*/
    function Close() {
        $(".PopBg").hide();
        $(".myPopdiv").hide();
    }

    /*编辑按钮获取需要编辑供应商季节信息*/
    function EditAttribute(Id,Cat1, Cat1Ven, Vencode) {
        $(".PopBg").height($(document).height());
        $(".PopBg").show();
        $("#PopEditContent").show();
        $("#txtEditSeasonVen").attr("title", Id)
        $("#txtEditSeasonVen").val(Cat1Ven)
        $("#txtEditSearchSeason").val(Cat1Ven)
        $("#selEditVencode").attr("disabled", "disabled")

        $.ajax({
            type: "GET",
            url: "/Category/GetVencodelist?SourceCode=" + Vencode + "&type=1",
            success: function (data) {
                $("#selEditVencode").html(data)
            },
            error: function () {
            },
        })
        $.ajax({
            type: "GET",
            url: "/Season/SearchSeasonDDlist?Cat1=" + Cat1,
            success: function (data) {
                $("#selEditSeason").html(data);
            }
        })
    }

    /*保存编辑供应商类别信息*/
    function UpdateSeasonVen() {
        var Id = $("#txtEditSeasonVen").attr("title");
        var SeasonVen = $("#txtEditSeasonVen").val().trim();
        var Vencode = $("#selEditVencode").find("option:selected").val();
        var Season = $("#selEditSeason").find("option:selected").val();
        if (Season != "") {
            $.ajax({
                type: "POST",
                url: "/Season/UpdateSeasonVen",
                data: { "Id": Id, "SeasonVen": SeasonVen, "Season": Season, "Vencode": Vencode, },
                success: function (data) {
                    $.MsgBox.Alert("提示", data);
                    OnSearch();
                    //GetTable($("#txtTiao").val().trim(), $("#selPages").val().trim());
                },
                error: function () {
                    alert("修改失败！")
                },
            })
        }
        else {
            $.MsgBox.Alert("提示", "请选择季节!");
        }

    }
    /*查询供应商季节*/
    function SearchEditSeason() {
        var Cat1 = $("#txtEditSearchSeason").val().trim();
        $.ajax({
            type: "GET",
            url: "/Season/SearchSeasonDDlist?Cat1=" + Cat1,
            success: function (data) {
                $("#selEditSeason").html(data);
            }
        })
    }
    /*删除供应商季节*/
    function DeleteSeasonVen(obj) {
        $.MsgBox.Confirm("删除", "确定要删除吗？", function () {
            $.ajax({
                type: "GET",
                url: "/Season/DeleteSeasonVen?Id=" + obj,
                success: function (data) {
                    OnSearch();
                    //GetTable($("#txtTiao").val().trim(), $("#selPages").val().trim());
                }
            })
        })
    }
    /*获取供应商编码下拉表*/
    $.ajax({
        type: "GET",
        url: "/Category/GetVencodelist?SourceCode=0",
        success: function (data) {
            $("#selVencode").html(data)
        },
        error: function () {
        },
    })

</script>



