<script src="~/js/jquery-1.8.2.min.js"></script>
<link href="~/Css/divShow.css" rel="stylesheet" />
<script src="~/js/divShow.js"></script>
<script src="~/js/pageIndex.js"></script>
<link href="~/Css/Search.css" rel="stylesheet" />
<link href="~/Css/All.css" rel="stylesheet" />
<header style="width:100%;padding-top:10px;">   
    <span class="spanProperty"><span class="spanPropertyName">供应商：</span><select  class="spanPropertyValue" id="selVencode" onchange="VecondeChange()"></select></span>
    <span class="spanProperty"><span class="spanPropertyName">品牌：</span><select  class="spanPropertyValue" id="selBrand" onchange="VecondeChange()"></select></span>
    <input type="button" value="查  询" style="width:50px;" class="spanPropertySearch" onclick="OnSearch()" />
  @*  供应商:<select id="selVencode" onchange="VecondeChange()"></select>
    品牌:<select id="selBrand" onchange="VecondeChange()"></select>
    <input type="button" onclick="OnSearch()" value="查询" />*@
</header>

<div id="divContainer">
    <table id="mytable" class="mytable" border="0" cellpadding="0" cellspacing="0">
    </table>
    <div class="divJump" style="">        
<span id="spanPage" style="font-weight: 400;"></span>
        共 <span id='PageCount' style='color: blue'></span>页&nbsp;&nbsp;
    当前第 <span id='PageNum' style='color: blue'>1</span> 页&nbsp;&nbsp;
    共 <span id='AllCounts' style='color: blue'></span>条数据
        @*<select id="selPages" onchange="selPage()">
            <option>1</option>
            <option>5</option>
            <option selected="selected">10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
        </select>
        <a href="#" onclick="TurnPage(1)">首页</a>
        <a href="#" onclick="TurnPage(2)">上一页</a>
        <input type="text" id="txtTiao" name="txtTiao" value="1" style="width: 35px;" onkeyup="OnTiaoChange();" />
        <a href="#" onclick="TurnPage(3)">下一页</a>
        <a href="#" onclick="TurnPage(4)">尾页</a>
        <a href="#" onclick="TurnPage(5)">跳转</a>
        共<span id="PageCount"></span>页&nbsp;&nbsp;当前第<span id="PageNum"></span>页&nbsp;&nbsp;共<span id="AllCounts"></span>条数据*@
    </div>
</div>

<script type="text/javascript">
    /*搜索*/
    function OnSearch() {
        var Vencode = $("#selVencode").find("option:selected").val() == null ? "" : $("#selVencode").find("option:selected").val();
        var Brand = $("#selBrand").find("option:selected").val() == null ? "" : $("#selBrand").find("option:selected").val();
        var params = "{Vencode:'" + Vencode + "',Brand:'" + Brand + "'}";
        $.post("/DataChart/GetBrandReport", {
            menuId: "0",
            pageIndex: 1,
            pageSize: 10,
            params: params
        }, function (data) {
            var ss = data.split("-----");
            $("#mytable").html("");
            $("#mytable").append(ss[0]);
            $("#PageCount").html(ss[1]);
            $("#AllCounts").html(ss[2]);
        });

        var b = $.PageFunc("/DataChart/GetBrandReport", "0", params);
        $("#spanPage").html(b);
        $("#txtTiao").val(1);
        $("#PageNum").html(1);

        GetTable(1, $("#selPages").val().trim());
        $("#txtTiao").val(1);
        $("#PageNum").html(1);
    }

    function selPage(url, menuId, obj) {
        var params = JSON.stringify(obj).replace(/\"/g, "'");
        $.post(url, {
            menuId: menuId,
            pageIndex: 1,
            pageSize: $("#selPages").val(),
            params: params
        }, function (data) {
            $("#mytable").html("");
            var ss = data.split("-----");
            $("#mytable").append(ss[0]);
            $("#PageCount").html(ss[1]);
            $("#AllCounts").html(ss[2]);
        });
    };

    function VecondeChange() {
        OnSearch();
    }

    /*获得table*/
    //function GetTable(obj, selpages) {
    //    var lists = [];
    //    lists.push($("#selVencode").find("option:selected").val() == null ? "" : $("#selVencode").find("option:selected").val());
    //    lists.push($("#selBrand").find("option:selected").val() == null ? "" : $("#selBrand").find("option:selected").val())
    //    $.ajax({
    //        type: "get",
    //        url: "/DataChart/GetBrandReport",
    //        data: { "lists": lists.join(","), "page": obj, "selpages": selpages },
    //        success: function (data) {
    //            selpages = selpages * 1;
    //            var tabledata = [];
    //            var tabledata = data.split("-*-");
    //            $("#mytable").html(tabledata[0]);
    //            $("#AllCounts").html(tabledata[1])
    //            $("#PageCount").html(Math.ceil(tabledata[1] * 1 / selpages))
    //        },
    //        error: function () {
    //            alert("error")
    //        },
    //    })

    //}
    //function selPage() {//---------设置显示数目
    //    $("#txtTiao").val(1);
    //    $("#PageNum").html(1);
    //    GetTable(1, $("#selPages").val().trim())
    //}
    ///*跳转*/
    //function TurnPage(obj) {//-----翻页---
    //    var pages = $("#selPages").val().trim();
    //    switch (obj) {
    //        case 1: GetTable(1, pages);//----首页
    //            $("#txtTiao").val(1);
    //            $("#PageNum").html(1)
    //            break;
    //        case 2:;//----上一页
    //            if ($("#txtTiao").val().trim() == "1") {
    //                return false;
    //            }
    //            else {
    //                GetTable($("#txtTiao").val().trim() * 1 - 1, pages)
    //                $("#txtTiao").val($("#txtTiao").val().trim() * 1 - 1);
    //                $("#PageNum").html($("#txtTiao").val().trim())
    //            }
    //            break;
    //        case 3://----下一页
    //            if ($("#txtTiao").val().trim() == $("#PageCount").html()) {
    //                return false;
    //            }
    //            else {
    //                GetTable($("#txtTiao").val().trim() * 1 + 1, pages);
    //                $("#txtTiao").val($("#txtTiao").val().trim() * 1 + 1);
    //                $("#PageNum").html($("#txtTiao").val().trim())
    //            }

    //            break;
    //        case 4: GetTable($("#PageCount").html(), pages);//----尾页

    //            $("#txtTiao").val($("#PageCount").html());
    //            $("#PageNum").html($("#PageCount").html())
    //            break;
    //        case 5: GetTable($("#txtTiao").val().trim(), pages);//----跳转
    //            $("#PageNum").html($("#txtTiao").val().trim());

    //            break;

    //    }
    //}

    /*供应商下拉框*/
    $.post("/Category/VencodeList", {}, function (data) { $("#selVencode").html(data) });

    /*品牌下拉框*/
    $.post("/DataChart/GetBrand", { BrandName: "" }, function (data) { $("#selBrand").html(data) });
</script>
