@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script src="~/js/jquery-1.8.2.min.js"></script>
<script>

    $().ready(function () {
        $("#btntest").click(function () {
            $.post("/mytest_L/test1", function (data) { console.log(data); });
        })
    })

</script>

<input type="button" value="test" id="btntest" />


