<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" />
  </system.web>
  
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="ConnectionString" value="data source=121.196.134.67,443\pbx;initial catalog=pbxDB;user id=sa;password=123"/>-->
    <add key="ConnectionString" value="data source=192.168.1.124;initial catalog=pbxDB;user id=sa;password=bms123456;pooling=yes;min pool size=5;max pool size=50;connection lifetime=0;enlist=true;" />
    <add key="ConnectionMaster" value="data source=192.168.1.124;initial catalog=master;user id=sa;password=bms123456;Connect Timeout=50000" />
    
    <!--<add key="FTPServerIP" value="121.33.205.116"/>
    <add key="UserName" value="ypnhq"/>
    <add key="Password" value="123456"/>-->
    
    <!--商检-->
    <!--<add key="FTPSJIP" value="ftp://192.168.1.124/" />-->
    <!--<add key="SJUserName" value="administrator" />
    <add key="SJPassword" value="pbx123456" />-->
    <!--ftp://121.33.205.117:2321/4200.IMPBA.SWBCARGOBACK.REPORT-->
    <add key="FTPSJIP" value="ftp://121.33.205.117:2321" />
    <add key="SJUserName" value="ypnhq" />
    <add key="SJPassword" value="y34pnhq" />

    <!--海关-->
    <!--<add key="FTPHGIP" value="ftp://192.168.1.124/" />
    <add key="HGUserName" value="administrator" />
    <add key="HGPassword" value="pbx123456" />-->

    <add key="FTPHGIP" value="ftp://210.21.48.7:2312/" />
    <add key="HGUserName" value="YPNH" />
    <add key="HGPassword" value="dY6318Cd" />

    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="9979;True;5288;1;-8587683700961332303" />
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="2;web.config.backup" />
    <add key="ConnectionString" value="data source=192.168.1.124;initial catalog=pbxDB;user id=sa;password=bms123456"/>
    <add key="ConnectionMaster"  value="data source=192.168.1.124;initial catalog=master;user id=sa;password=bms123456;Connect Timeout=50000"/>
  </appSettings>
  <!--<connectionStrings>
    <add connectionString="data source=rdsr5tbb7cta2rjoun2qa.sqlserver.rds.aliyuncs.com,3433;initial catalog=db_bms;user id=bms_sa;password=bms_sa" name="clientConStr"/>
  </connectionStrings>-->
  <connectionStrings>
    <add connectionString="data source=192.168.1.124;initial catalog=pbxDB;user id=sa;password=bms123456" name="clientConStr"/>
  </connectionStrings>
  <!--<connectionStrings>
    <add name="ConnectionString" connectionString="metadata=res://*/pbxdatasource.csdl|res://*/pbxdatasource.ssdl|res://*/pbxdatasource.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=121.196.134.67,443\pbx;initial catalog=pbxDB;user id=sa;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="20" />-->
    <httpRuntime requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition="" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceForProductSOAP" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://fedex-import.fd95.cn/default/product-soap/web-service"
        binding="basicHttpBinding" bindingConfiguration="ServiceForProductSOAP"
        contract="ProductReport.ServiceForProduct" name="ServiceForProductSOAP" />
    </client>
  </system.serviceModel>
</configuration>