



@charset "utf-8";/* CSS Document */
body {
font-size:12px;/*margin:0px;padding:0px;*/
}
ol,ul,li{list-style:none;}
img{margin:0;padding:0;border:none}
table{border-collapse:collapse;}
.cls{clear:both;}
.notxt{text-indent:-9999px;}
/*body{font-size:14px;font-family:Tahoma;font-family:Arial, Hel,Microsoft YaHei;}*/
a{color:#666;text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());cursor:pointer;}
a:hover{color:#FF5F3E;}
i { font-style:normal;}

.nav {width:1000px;margin:0 auto; position:relative;text-align:center;padding-top:40px;}
.nav  ul li {float:left;padding:0 20px;text-align:center;height:40px;line-height:40px;}
.curBg { background:#F00;height:3px;position:absolute;bottom:0;width:68px;left:0px;text-align:center;}




#divmenuC ul{
	/*width:180px;*/
	margin:0 auto;
	background:#fff;
	position:relative;
	z-index:0;
	padding:0px 20px;
}
#divmenuC ul li{
	height:40px;
	line-height:40px;
	text-align:center;
	border-bottom:1px solid #F8F8F8;}	
#divmenuC ul li a{
	color:#666;
	display:block;}	
#divmenuC ul li a:hover{
	color:#FF5F3E;
	text-decoration:none;}	
#divmenuC ul li a.hover{color:#FF5F3E;}	
#lanPos{
	width:97.5%;
	height:40px;
	line-height:40px;
	background:#F8F8F8;
	border-left:10px solid #FF5F3E;
	position:absolute;
	left:-5px;
	top:0;
	z-index:-1;
	transition:top .2s;}

#ulmenuF li {
    margin-left:2px;
    /*background-color:#F8F8F8;*/
}
#ulmenuF li:hover {
    background-color:white;
}		










