@{
    ViewBag.Title = "Index";
}

<button id="btnCustomsOrder">海关订单报备</button>
<button id="btnBBCOrder">联邦订单报备</button>
<button id="btnBBCProduct">联邦商品报备</button>
<button id="btnSJOrder">商检订单报备</button>
<button id="btnSJProduct">商检商品报备</button>

<link href="~/Css/divShow.css" rel="stylesheet" />

<link href="~/Css/All.css" rel="stylesheet" />
<script src="~/js/jquery-1.8.2.min.js"></script>
<script src="~/js/divShow.js"></script>
<script src="~/js/imgZoomIn.js"></script>
<script src="~/js/pageIndex.js"></script>
<script type="text/javascript" src="~/js/My97DatePicker/WdatePicker.js"></script>

<script>
    $().ready(function () {
        $("#btnCustomsOrder").click(function () {
            $.post('/Customs/CustomsOrderReport');
        })


        $("#btnBBCProduct").click(function () {
            $.post('/Customs/BBCProductReport');
        })


        $("#btnBBCOrder").click(function () {
            $.post('/Customs/BBCOrderPeport');
        })


        $("#btnSJOrder").click(function () {
            $.post('/Customs/OrderReport');
        })


        $("#btnSJProduct").click(function () {
            $.post('/Customs/ProductReport', { scode: "81183427050ML" }, function (data) { console.log(data + "!!!"); });
        })

    })
</script>
