<script src="~/js/jquery-1.8.2.min.js"></script>
<script src="~/js/pageIndex.js"></script>
<link href="~/Css/divShow.css" rel="stylesheet" />
<link href="~/Css/All.css" rel="stylesheet" />
<link href="~/Css/Search.css" rel="stylesheet" />
<script type="text/javascript" src="~/js/My97DatePicker/WdatePicker.js"></script>


<script src="~/js/DropDowndiv.js"></script>

<script type="text/ecmascript">
    $(function ()
    {
        $("#BtnSerach").click(function ()
        {
            var OrderId = $("#OrderId").val();
            var Style = $("#Style").val();
            var Scode = $("#Scode").val();
            var PriceMax = $("#PriceMin").val();
            var PriceMin = $("#PriceMax").val();
            var Cat1 = $("#Season").val();
            var Type = $("#Type").val();
            var Brand = $("#Brand").val();
            var StockMax = $("#StcokMin").val();
            var StockMin = $("#StcokMax").val();
            var Params = "{Style:'" + Style + "', Scode:'" + Scode + "', PriceMax: '" + PriceMax + "', PriceMin: '" + PriceMin + "', Cat1: '" + Cat1 + "',Type: '" + Type + "',"
            + "Brand: '" + Brand + "', StockMax: '" + StockMax + "',StockMin:'" + StockMin + "',OrderId:'"+OrderId+"'}";
            $.post("/Productstock/ProductStockOrder", {
                menuId: "@ViewData["myMenuId"]",
                pageIndex: 1,
                pageSize: 10,
                params: Params,
            }, function (data) { $("#OrderTable").html(""); var ss = data.split("-----"); $("#OrderTable").append(ss[0]); $("#PageCount").html(ss[1]); $("#AllCounts").html(ss[2]); })
            var b = $.PageFunc("/ProductStock/ProductStockOrder", "@ViewData["myMenuId"]", Params);
            $("#spanPage").html(b);
            $("#txtTiao").val(1);
            $("#PageNum").html(1);
        })
    })

    function selPage(url, menuid, obj) {
        var params = JSON.stringify(obj).replace(/\"/g, "'");
        console.log(obj);
        $.post(url, {
            menuId: menuid,
            pageIndex: 1,
            pageSize: $("#selPages").val(),
            params: params,
        }, function (data) { $("#OrderTable").html(""); var ss = data.split("-----"); $("#OrderTable").append(ss[0]); $("#PageCount").html(ss[1]); $("#AllCounts").html(ss[2]); })
    }
</script>
<div>
    <span class="spanProperty">
        <span class="spanPropertyName">订单编号：</span>
        <input type='text' id='OrderId' class="spanPropertyValue">
    </span>
    <span class="spanProperty">
        <span class="spanPropertyName">款号：</span>
        <input type='text' id='Style' class="spanPropertyValue">
    </span>
    <span class="spanProperty">
        <span class="spanPropertyName">货号：</span>
        <input type='text' id='Scode' class="spanPropertyValue">
    </span>
    <span class="spanProperty">
        <span class="spanPropertyName">最小价格：</span>
        <input type='text' id='PriceMin' class="spanPropertyValue">
    </span>
    <span class="spanProperty">
        <span class="spanPropertyName">最大价格：</span>
        <input type='text' id='PriceMax' class="spanPropertyValue">
    </span>
    <span class="spanProperty">
        <span class="spanPropertyName">季节：</span>
        <input type='text' id='Season' class="spanPropertyValue">
    </span>

    <span class="spanProperty">
        <span class="spanPropertyName">品牌：</span>
        <input type='text' id='Brand' onclick="GetDropToBrand(this.id)" class="spanPropertyValue">
    </span>
    <span class="spanProperty">
        <span class="spanPropertyName">类别：</span>
        <input type="text" id="Type" onclick="GetDropToType(this.id)" class="spanPropertyValue" />
    </span>
    <span class="spanProperty">
        <span class="spanPropertyName">最小库存：</span>
        <input type='text' id='StcokMin' class="spanPropertyValue">
    </span>
    <span class="spanProperty">
        <span class="spanPropertyName">最大库存：</span>
        <input type='text' id='StcokMax' class="spanPropertyValue">
    </span>
    <br />
        <input type="button" id="BtnSerach" class="spanPropertySearch" value="查询" />
</div>

<div id="OrderTable"></div>
@*分页*@
<div class="divJump">
    <span id="spanPage" style="font-weight:400;"></span>
    共 <span id='PageCount' style='color: blue'></span>页&nbsp;&nbsp;
    当前第 <span id='PageNum' style='color: blue'>1</span> 页&nbsp;&nbsp;
    共 <span id='AllCounts' style='color: blue'></span>条数据
</div>
<script type="text/javascript">


    $.getDropDownList("#Brand");
    function GetDropToBrand(e) {
        if ($("#" + e).val() == "") {
            sql = 1; //"";
        } else {
            sql = 2;// "select TOP 10 TypeName,Id from Brand where TypeName like " + "'%" + $("#" + e).val() + "%'";
        }

        $.ajax({
            type: "post",
            url: "/Productstock/Brand",
            data: {
                sql: sql,
                value: $("#" + e).val()
            },
            success: function (data) {
                var d1 = eval(data);
                for (i in d1) {
                    $("#dd ul").append("<li title='" + d1[i].BrandAbridge + "'>" + d1[i].BrandName + "")
                }
                getCss(e);
            },
            error: function () {
                alert("error")
            },
        })

    }

    $.getDropDownList("#Type");
    function GetDropToType(e) {
        if ($("#" + e).val() == "") {
            sql = 1; //"";
        } else {
            sql = 2;// "select TOP 10 TypeName,Id from Brand where TypeName like " + "'%" + $("#" + e).val() + "%'";
        }

        $.ajax({
            type: "post",
            url: "/Productstock/Type",
            data: {
                sql: sql,
                value: $("#" + e).val()
            },
            success: function (data) {

                var d1 = eval(data);


                for (i in d1) {
                    $("#dd ul").append("<li title='" + d1[i].TypeNo + "'>" + d1[i].TypeName + "")
                }
                getCss(e);
            },
            error: function () {
                alert("error")
            },
        })
    }
</script>